.tasks-lists {
  background-color: #fff;
  position: absolute;
  top: 50%;
  padding: 10px 4px;
  width: 100%;
  margin-top: -11px;
  height: 4px;
  text-align: left; }
  .tasks-lists:before {
    content: '';
    display: block;
    height: 3px;
    background: #8c959d;
    border-radius: 1px; }
  .tasks-lists .tasks-list-item {
    display: block;
    padding: 12px 15px;
    cursor: pointer;
    border-bottom: 1px solid #999966; }
  .tasks-lists .tasks-list-item-done {
    display: block;
    padding: 12px 15px;
    cursor: pointer;
    text-decoration: line-through;
    border-bottom: 1px solid #999966; }
  .tasks-lists .tasks-list-mark {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    height: 20px;
    border: 2px solid #c4cbd2;
    border-radius: 12px; }
    .tasks-lists .tasks-list-mark:before {
      content: '';
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -5px 0 0 -6px;
      height: 4px;
      width: 8px;
      border: solid #39ca74;
      border-width: 0 0 4px 4px; }
    .tasks-lists .tasks-list-mark.tasks-list-cb:checked {
      border-color: #39ca74; }
      .tasks-lists .tasks-list-mark.tasks-list-cb:checked:before {
        display: block; }
  .tasks-lists .tasks-list-desc {
    font-weight: bold;
    color: #8a9a9b; }
    .tasks-lists .tasks-list-desc.tasks-list-cb:checked {
      color: #34bf6e;
      text-decoration: line-through; }

.left-menu {
  width: 100%;
  height: 100%;
  border-right: 2px solid #000000; }
